<%= form_for(@store, html: { class: "form-horizontal" }) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, for: 'name', class: "col-sm-1 control-label" %>
    <%= f.text_field :name, id: 'name',  class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit id: 'save', value: 'Save', class: "btn btn-primary" %> <%= link_to 'Back', stores_path, class: 'btn btn-default' %>
  </div>
<% end %>
